<div class="admin-navbar-fragment" th:fragment="admin-navbar">
    <div class="admin-sidebar-container">
        <div class="admin-sidebar-area">
            <div class="admin-sidebar">
                <h2 style="color: #ffffffee; cursor: pointer; margin-bottom: 10px;" onclick="location.href='/admin/main'">관리자 페이지</h2>
                <h5 style="color: #ffffffee; margin-bottom: 5px;">사이트 관리</h4>
                <ul class="sidebar-links">
                    <li><a href="/admin/main">대시보드</a></li>
                    <li><a href="/admin/user">사용자 관리</a></li>
                    <li><a href="/admin/task">체크 리스트 관리</a></li>
                    <li><a href="/admin/taskUsage">체크 리스트 사용법 관리</a></li>
                    <li><a href="/admin/taskSetting">체크 리스트 설정법 관리</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="admin-headbar-container">
        <div class="admin-headbar-area">
            <div class="admin-headbar">
                <div class="logo" onclick="location.href='/'" style="cursor: pointer; width: 200px; height: 50px;"></div> 
                <button class="btn btn-secondary" style="color: #ffffffee;" onclick="location.href='/'">나가기</button>
            </div>
        </div>
    </div>

    <div style="margin-top: 120px;"></div>
</div>