<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>ONCE INFO</title>
    <script type="module" src="/js/jwt_interceptor.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquareNeo@1.0/nanumsquareneo.css"> <!-- 폰트 링크 추가 -->
    <script src="https://kit.fontawesome.com/6d5a8c94c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/default_styles.css">
</head>
</html>

<!-- Header -->
<!-- HTML 의 헤더 부분에 추가-->
<!-- 가장 먼저 로드되어서 페이지 권한을 처리 해주는 jwt_interceptor.js-->
<!-- bootstrap.css, 글꼴 -->
<!-- fontawesome 링크 -->
<!-- 기본 css 파일 default_styles.cs-->