<div th:fragment="menu">
    <nav class="navbar"> 
        <div class="navbar-content">
            <div class="navbar-content-brand">
                <div class="logo" onclick="location.href='/'" style="cursor: pointer; width: 200px; height: 50px;"></div> 
            </div>

            <div class="navbar-content-list">
                <ul>
                    <li class="navbar-content-item"><a href="/api/v1/help" class="navbar-content-text">문의</a></li>
                    <li class="navbar-content-item"><a href="/api/v1/login" class="navbar-content-text">로그인</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="sub-navbar">
        <div class="sub-navbar-content-list">
            <ul>
                <li class="sub-navbar-content-item"><a href="/api/v1/tasks" class="sub-navbar-content-text">숙제 체크 리스트</a></li>
                <li class="sub-navbar-content-item"><a href="/api/v1/personal-tasks" class="sub-navbar-content-text">개인 숙제 체크 리스트</a></li>
                <li class="sub-navbar-content-item"><a href="/api/v1/groups" class="sub-navbar-content-text">숙제 체크 리스트 사용법</a></li>
                <li class="sub-navbar-content-item"><a href="/api/v1/settings" class="sub-navbar-content-text">개인 숙제 체크 리스트 설정법</a></li>
            </ul>
        </div>
    </nav>
</div>
