.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-category {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: #f1f3f5; /* 더 연한 회색 배경 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    margin-bottom: 20px; /* 아래 여백 추가 */
}

.task-category h2 {
    font-size: 2em; /* 제목 크기 */
    font-weight: bold; /* 굵은 글씨체 */
    margin: 0; /* 여백 제거 */
    color: #000000; /* 검은색 */
}

.task-list {
    display: flex;
    justify-content: space-between; /* 주간과 일일 사이의 간격 줄임 */
    margin-bottom: 20px;
}

.task-list h3 {
    font-size: 1.2em; /* 소제목 크기 */
    font-weight: normal; /* 얇은 글씨체 */
    color: #fff; /* 흰색 글씨 */
    background-color: #a9a9a9; /* 더 진한 회색 배경 */
    padding: 5px 10px; /* 패딩 추가 */
    border-radius: 5px; /* 모서리 둥글게 */
    width: 100%; /* 가로 크기 늘림 */
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 10px;
}

.task-list-weekly, .task-list-daily {
    width: 45%; /* 각각 40% 사용 */
    display: flex;
    flex-direction: column;
    align-content: center;
}

.update-task-container {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #ffffffee;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
}   
