:root {
    --white-color: #fefefe;
    --gray-1-color: #f4f4f4;
    --gray-2-color: #d4d4d4;
    --gray-3-color: #b4b4b4;
    --border-color: #cccccc;
    --main-color: #8540ef;
    --main-light-color: #c39ff6;
    --main-more-light-color: #e1cffa;
/* F4F4F4, d4d4d4, b4b4b4 */
}

body {
    font-family: 'NanumSquareNeo', Arial, sans-serif;
    background-color: var(--gray-1-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.title-head {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    background-image: url('/images/logo/logo.png');
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-size: contain; /* 이미지 크기 조정 */
    background-position: center; /* 이미지 중앙 배치 */
    /* width, height, cursor 는 사용할 때 마다 상황에 맞춰 조정 */
}

