/* NAVBAR  */

.navbar-container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 적용 */
    background-color: #ffffff99;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: calc(100% - 250px); /* 기본 너비 설정 */
    margin: 0 250px; /* 기본 좌우 여백 */
}

.navbar-content-brand {
    display: flex;
}

.navbar-content-list {
    display: flex;
}

.navbar-content-list ul {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    gap: 43px;

    padding: 0;
    margin: 0; /* 여백 제거 */
}

.navbar-content-item {
    text-align: center;
}

.navbar-content-text {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    font-weight: bold;
}
.navbar-content-text:hover {
    text-decoration: none;
}

/*  SUB NAVBAR */
.sub-navbar {
    position: fixed;
    flex-wrap: nowrap;
    top: 65px;
    right: 0;
    left: 0;
    background-color: #f5e6fb; /* 좀 더 연한 색상으로 변경 */
    z-index: 900;
    height: 55px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-navbar-content-list {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 100%;
}

.sub-navbar-content-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center; /* 수직 정렬 */
    justify-content: center; /* 수평 정렬 추가 */

    gap: 30px;

    padding: 0;
    margin: 0; 
}

.sub-navbar-content-item {
    text-align: center;
}

.sub-navbar-content-text {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}
.sub-navbar-content-text:hover {
    text-decoration: none;
}

.sub-navbar-content-text.active {
    font-weight: bold; /* 현재 페이지 텍스트 굵게 */
}

# Start of Selection
/* 반응형 디자인을 위한 미디어 쿼리 */
@media screen and (max-width: 1200px) {
    .navbar-content {
        width: calc(100% - 100px); /* 화면이 작아지면 너비 조정 */
        margin: 0 50px; /* 좌우 여백 조정 */
    }
}

@media screen and (max-width: 900px) {
    .navbar-content {
        width: 100%; /* 모바일 화면에서는 전체 너비 사용 */
        margin: 0 20px; /* 좌우 여백 최소화 */
    }
}

.navbar-margin {
    height: 135px;
}
