<div class="search_fragment" th:fragment="search_bar">
    <link rel="stylesheet" href="/css/layout/fragment/search_bar_styles.css">
    <div class="search_container">
        <div class="search_area">
            <div class="search">
                <input type="text" class="search_input" placeholder="아이템 이름을 입력하세요">
                <i class="search_icon fa-solid fa-magnifying-glass" style="color: var(--main-light-color); margin-left: 8px;"></i>
            </div>
        </div>
    </div>

    <script defer src="/js/layout/fragment/SearchBar.js"></script>
</div>