<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/fragments/header :: header}"></div>
    <link rel="stylesheet" href="/css/tasklist/tasklist_styles.css" />
</head>
<body>
    <div class="wrap">
        <div class="app">
            <div class="main-navbar-container" th:replace="~{layout/fragments/navbar/main_navbar :: main_navbar}"/>
            <h1 class="title-head">나의 체크 리스트</h1>
            <div class="inner-navbar-container" th:replace="~{layout/fragments/navbar/inner_navbar :: inner_navbar}"/>  

            <div class="filter-container">
                <div class="filter-area"> 
                    <div class="filter-header mb-1" style="text-align: right;">
                        <a href="/user/task/setting" class="btn btn-primary btn-sm ml-2">설정</a>
                    </div>

                    <div class="mode-filter btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-info active"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                            <input type="radio" name="mode" value="ALL" checked> 모두 보기
                        </label>
                        <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                            <input type="radio" name="mode" value="PVE"> PVE
                        </label>
                        <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                            <input type="radio" name="mode" value="PVP"> PVP
                        </label>
                    </div>
                    <div class="event-filter btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-info active"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                            <input type="radio" name="event" value="ALL" checked> 모두 보기
                        </label>
                        <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                            <input type="radio" name="event" value="NORMAL"> 일반 이벤트
                        </label>
                        <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                            <input type="radio" name="event" value="TIME"> 시간 이벤트
                        </label>
                        <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                            <input type="radio" name="event" value="SPECIAL"> 특별 이벤트
                        </label>
                    </div>
                </div>
            </div>

            <div class="tasks-container">
                <div class="tasks-area">
                    <!-- 필터링된 작업 목록이 여기에 표시됩니다 -->
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="~{layout/fragments/footer :: footer}"></div>
    <script type="module" src="/js/tasklist/userTaskList.js"></script>
</body>
</html>