<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/fragments/header :: header}"></div>
    <link rel="stylesheet" href="/css/admin_navbar_styles.css" />
</head>
<body>
    <div class="wrap">
        <div class="app">
            <div class="admin-navbar-fragment" th:replace="~{layout/fragments/admin_navbar :: admin-navbar}"></div>



            
        </div>
    </div>

    


    <div th:replace="~{layout/fragments/footer :: footer}"></div>
    <script src="/js/AdminPages/Admin.js"></script>
</body>
</html>