<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/fragments/header :: header}"></div>
</head>
<body>
    <div class="wrap">
        <div class="app">
            <div class="navbar-container" th:replace="~{layout/fragments/navbar :: navbar}"/>

            <div class="filter-container">
                <div class="filter-area"> <!-- 좌우 여백을 5로 조정 -->
                    <h1 class="text-center mb-4">문의</h1>
                    <a href="https://open.kakao.com/o/s4cOEcQg">오픈 카카오톡 채널</a>
                    <h3>버그 제보 및 문의 사항이 있으실 경우 오픈 카카오톡 채널을 통해 문의해주세요.</h3>

                    <h5>1인 개발 프로젝트입니다.</h5>
                    <h5>made by [초보개발자(dcinside)/probeV(github)] </h5>

                    </div> 
                </div>


            </div>

            <div class="tasks-container">
                <div class="tasks-area">
                    <!-- 필터링된 작업 목록이 여기에 표시됩니다 -->
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="~{layout/fragments/footer :: footer}"></div>
</body>
</html>