<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/fragments/header :: header}"></div>
    <link rel="stylesheet" href="/css/itemlist/itemlist_styles.css" />
</head>
<body>
    <div class="wrap">
        <div class="app">
            <div class="main-navbar-container" th:replace="~{layout/fragments/navbar/main_navbar :: main_navbar}"/>
            <h1 class="title-head">메메틱 마스터리 아이템 도감</h1>
            <div class="inner-navbar-container" th:replace="~{layout/fragments/navbar/inner_navbar :: inner_navbar}"/>
            <div style="margin-top: 24px;"></div>

            <div class="item-container">
                <div class="item-search-area">
                    <input type="text" class="item-search-input" placeholder="아이템 이름을 입력하세요">
                </div>

                <div class="item-area">
                    <!-- 필터링된 작업 목록이 여기에 표시됩니다 -->
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="~{layout/fragments/footer :: footer}"></div>
    <script type="module" src="/js/itemlist/itemlist.js"></script>
</body>
</html>