<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/fragments/header :: header}"></div>
    <link rel="stylesheet" href="/css/itemlist/user_itemlist_setting_styles.css" />
</head>
<body>
<div class="wrap">
    <div class="app">
        <div class="main_navbar_container" th:replace="~{layout/fragments/navbar/main_navbar :: main_navbar}"/>
        <h1 class="title-head">내 가방</h1>
        <div class="inner_navbar_container" th:replace="~{layout/fragments/navbar/inner_navbar :: inner_navbar}"/>
        <div style="margin-top: 24px;"></div>

        <div class="button_container">
            <div class="button_area">
                <div class="button">
                    <div class="help">
                        <i class="fa-solid fa-exclamation fa-2xl" style="color: var(--white-color);"></i>
                    </div>
                    <button class="btn-setting" onclick="location.href ='/user/item/setting'">설정</button>
                </div>
            </div>
        </div>

        <div class="items_container">
            <div class="items_area">
                <div id="items" class="row">
                    <!-- 아이템 리스트가 여기에 동적으로 추가됩니다. -->
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/fragments/footer :: footer}"></div>
<script type="module" src="/js/itemlist/user_itemlist_setting.js"></script>
</body>
</html>