<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>숙제 체크 리스트</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquareNeo@1.0/nanumsquareneo.css"> <!-- 폰트 링크 추가 -->
    <link rel="stylesheet" href="/css/taskList_styles.css">
    <link rel="stylesheet" href="/css/menu_styles.css"> <!-- 메뉴 스타일 시트 추가 -->
</head>
<body class="container mt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"> <!-- 상단 고정 메뉴바 추가 -->
        <a class="navbar-brand" href="#" onclick="location.reload();">원스휴먼 도우미</a> <!-- 클릭 시 리로드 -->
        <!-- <div class="ml-auto">
            <a class="btn btn-info" href="/login">로그인</a> 로그인 링크
        </div> -->
    </nav>
    <div class="mt-5 pt-5"> <!-- 메뉴바 아래 여백 추가 -->
        <h1 class="text-center mb-4">원스휴먼 숙제 체크 리스트</h1>
        <div class="mode-filter btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-info active"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                <input type="radio" name="mode" value="ALL" checked> 모두 보기
            </label>
            <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                <input type="radio" name="mode" value="PVE"> PVE
            </label>
            <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                <input type="radio" name="mode" value="PVP"> PVP
            </label>
        </div>
        <div class="event-filter btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-info active"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                <input type="radio" name="event" value="ALL" checked> 모두 보기
            </label>
            <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                <input type="radio" name="event" value="NORMAL"> 일반 이벤트
            </label>
            <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                <input type="radio" name="event" value="TIME"> 시간 이벤트
            </label>
            <label class="btn btn-info"> <!-- 색상 변경: btn-primary에서 btn-info로 -->
                <input type="radio" name="event" value="SPECIAL"> 특별 이벤트
            </label>
        </div>
    </div>
    <div class="tasks mt-4">
        <div class="tasks-container">
            <!-- 필터링된 작업 목록이 여기에 표시됩니다 -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- jQuery 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/taskList/taskList.js"></script> <!-- 경로 확인 -->
</body>
</html>